<h1> Links </h1>
<form action="/tags">
  <input type="text" name="name">
  <input type="submit" value="Search">
</form>
<a href="/links/new">Add link</a>
<ul id="links">
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <a href="<%=link.url%>"><%= link.url %></a>
    </li>
  <% end %>
</ul>
